# Database
DATABASE_URL="postgresql://gkjj:gkjj_dev_password@localhost:5432/gkjj_db"

# Server
PORT=4000
NODE_ENV=development

# JWT — ganti dengan secret yang kuat di production!
JWT_SECRET="ganti-dengan-random-string-minimal-32-karakter"
JWT_EXPIRES_IN="7d"

# CORS
CORS_ORIGIN="http://localhost:3000"

# File Upload (Cloudinary) — isi jika sudah punya akun
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
